app-header {
    color: #fff;
    background-color: var(--app-primary-color);
}

app-header paper-icon-button {
    --paper-icon-button-ink-color: white;
}

.drawer-list {
    margin: 0 20px;
}

paper-item {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;
    cursor: pointer;
}

.drawer-list a {
    display: block;
    padding: 0 26px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;
    font-weight: lighter;
}

paper-menu { 
    background-color: transparent;
}

paper-submenu {
    background-color: transparent;
}

.drawer-list a.iron-selected {
    color: white;
    font-weight: bold;
}

.toastError paper-toast {
    background-color: #d9534f; 
    color: white;
}

paper-fab { 
    position: fixed;
    right: 30px;
    bottom: 30px; 
    background-color: #1ABB9C;
}